.conhecimentos__nome {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: bolder;
  margin-top: 15px;
}
@media (max-width: 1366px) {
  .conhecimentos__nome {
    font-size: 15px;
  }
}
