.conhecimentos__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .conhecimentos__row {
    flex-direction: column;
  }
}
