.rodape__mensagem {
  color: var(--cor-destaque);
  text-align: center;
  font-weight: bolder;
  line-height: 2rem;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: var(--color-1);
}
@media (max-width: 500px) {
  .rodape__mensagem {
    font-size: 15px;
  }
}
