.mobilemenu div{
   
    width: 32px;
    height: 2px;
    background-color:white;
    margin: 8px;
}
.mobilemenu{
    cursor: pointer;
    display: none;

}

@media (max-width:768px){
    .navlist{
       position: absolute;
        top:8vh;
        right: 0;
        width: 100vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .navlist li{
        margin-left: 0;
        opacity: 0;
    }
    .mobilemenu{
       display: block;
    
    }
    .navlist:active{
        transform: translateX(0);
       

    }
   
}

@keyframes nevLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
 }
    
