.sobreMim__conteiner {
  width: 1024px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .sobreMim__conteiner {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  .sobreMim__conteiner {
    width: 240px;
  }
}
