.sobreMim__descricao {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
@media (max-width: 1366px) {
  .sobreMim__descricao {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .sobreMim__descricao {
    text-align: center;
    font-size: 15px;
  }
}
