.sobreMim__descricao {
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .sobreMim__descricao {
    padding-top: 20px;
    font-size: 17px;
    text-align: center;
    margin: 0;
  }
}
