.sobreMim_imagem_web {
  clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 150px;
}

@media (max-width: 768px) {
  .sobreMim__imagem {
    background: url(../img/foto-preto-branco.jpg) center / cover;
    clip-path: circle(50% at 50% 50%);
    width: 200px;
    height: 150px;
  }
  .sobreMim_imagem_web {
    display: none;
  }
}
