.certificados{
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 840px;
  
}

@media (max-width: 768px)  {
    .certificados{
       width: 500px;
      


}

}
@media (max-width: 500px)  {
    .certificados{
       width: 240px;


}

}