.certificados {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 1024px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.412);
}

@media (max-width: 768px) {
  .certificados {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .certificados {
    width: 320px;
  }
}
