.contato {
  background: whitesmoke;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 1024px;
  box-shadow: 0px 5px 0px rgba(255, 255, 255, 0.412);
}
@media (max-width: 768px) {
  .contato {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .contato {
    width: 320px;
  }
}
