* {
  margin: 0;
  padding: 0;
}
:root {
  --cor-verde: #2f4f4f;
  --cor-destaque: #2f4f4f;
  --cor-grey: whitesmoke;
  --spring-verde: #00ff7f;
  --cor-branca-pastel: #c0c0c0;
  --branca: #ffffff;
}
.corpo {
  /*
 background-image:linear-gradient(#ff0060,#ff6975 );
 */
  background: var(--cor-verde);
  color: var(--cor-verde);
}
htmL {
  scroll-behavior: smooth;
}
