* {
  margin: 0;
  padding: 0;
}
:root {
  --color-1: #ff5733;

  --color-2: #df4c2d;

  --color-3: #bf4126;

  --color-4: #9f3620;

  --color-5: #802b1a;

  --color-6: #602113;

  --color-7: #40160d;

  --color-8: #200b06;
}
.corpo {
  /*
 background-image:linear-gradient(#ff0060,#ff6975 );
 */
  background: var(--color-8);
  color: black;
}
htmL {
  scroll-behavior: smooth;
}
