* {
  margin: 0;
  padding: 0;
}
:root {
  --color-1: black;

  --color-2: yellow;

  --color-3: #bf4126;

  --color-4: #9f3620;

  --color-5: #802b1a;

  --color-6: #602113;

  --color-7: white;

  --color-8: #2a5743;
}
.corpo {
  /*
 background-image:linear-gradient(#ff0060,#ff6975 );
 */
  background: var(--color-8);
  color: black;
}
htmL {
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  .corpo {
    width: auto;
  }
}
