.educacao {
  background: whitesmoke;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 1024px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.412);
}
@media (max-width: 768px) {
  .educacao {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .educacao {
    width: 240px;
  }
}
