.logo {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: auto 400px;
}
.logo__avatar {
  background: url(./img/logo-avatar.png) no-repeat;
  width: 500px;
  height: 500px;
}
@media (max-width: 1366px) {
  .logo {
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .logo {
    justify-content: center;
    margin-bottom: 50px;
  }
  .logo__avatar {
    background: url(./img/logo-avatar.png) center / cover no-repeat;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .logo {
    justify-content: top;
  }
  .logo__avatar {
    width: 400px;
    height: 100vh;
  }
}
