.logo {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 150px;
  height: 100vh;
}
.logo__avatar {
  background: url(./img/logo-avatar.png) center;
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .logo {
    justify-content: center;
    margin-bottom: 10px;
  }
  .logo__avatar {
    background: url(./img/logo-avatar.png) center / cover no-repeat;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .logo {
    justify-content: center;
  }
  .logo__avatar {
    background: url(./img/logo-avatar.png) cover / center no-repeat;
  }
}
