.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 400px;
  height: 100vh;
}

@media (max-width: 768px) {
  .logo {
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
  }
  .logo__avatar {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .logo {
    justify-content: space-between;
    margin: 0 20px;
  }
  .logo__avatar {
    width: 200px;
    height: 200px;
  }
}
