header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: var(--branca);
  z-index: 1;
}
.logo__nave {
  border: 1px solid var(--cor-verde);
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  background-color: var(--cor-verde);
  color: var(--branca);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
#nav__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list ul {
  display: flex;
  padding-top: 5px;
}
.nav__item {
  list-style: none;
  margin-left: 50px;
}
.nav__link {
  border: 1px solid var(--cor-verde);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--cor-verde);
  color: rgba(255, 255, 255, 0.438);
  font-size: 17px;
  font-family: "Roboto", sans-serif;

  transition: 0.5s;
}
.nav__link__home {
  color: var(--branca);
  font-size: 17px;
  font-family: "Roboto", sans-serif;

  transition: 0.5s;
}
.nav__link:hover {
  color: var(--cor-branca-pastel);
}
.login__button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--cor-verde);
}

.login__button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}
.mobile-menu-icon {
  display: none;
}
.mobile__menu {
  display: none;
}
@media (max-width: 730px) {
  header {
    height: auto;
    width: 100%;
  }
  #nav__bar {
    justify-content: space-between;
    margin:  0 10px;
    
    ]
  }
  .nav__item {
    display: none;
  }

  .mobile__menu {
    background-color: var(--branca);
    height: auto;
    width: 100%;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile__menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    list-style: none;
    margin-left: 10px;
    width: 30%;
  }
  .mobile__menu .nav__item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}
