header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: var(--cor-grey);
  border-bottom: 2px solid rgba(0, 0, 0, 0.39);
  z-index: 1;
}

#nav__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.nav__list ul {
  display: flex;
  padding-top: 5px;
}
.nav__item {
  list-style: none;
  margin-left: 50px;
}
.nav__link {
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.438);
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}
.nav__link__home {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s;
}
.nav__link__home h1 {
  color: black;
  font-size: 18px;
}
.nav__link__home:hover,
.nav__link:hover {
  color: var(--cor-destaque);
}
.login__button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.login__button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}
.mobile-menu-icon {
  display: none;
}
.mobile__menu {
  display: none;
}
@media (max-width: 730px) {
  header {
    height: auto;
    width: 100%;
  }
  #nav__bar {
    justify-content: space-between;
    margin: 0 10px;
  }
  .nav__item {
    display: none;
  }

  .mobile__menu {
    background-color: var(--cor-grey);
    height: auto;
    width: 100%;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile__menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    list-style: none;
    margin-left: 10px;
    width: 30%;
  }
  .mobile__menu .nav__item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}
