header {
  position: fixed;

  top: 0px;
  left: 230px;
  width: 840px;
  height: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--branca);
  border-radius: 5px;
  z-index: 1;
}
.logo__nave {
  border: 1px solid var(--cor-verde);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--cor-verde);
  color: var(--branca);
  font-size: 15px;
}
#nav__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list ul {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.nav__item {
  list-style: none;
  margin-left: 50px;
}
.nav__link {
  border: 1px solid var(--cor-verde);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--cor-verde);
  color: var(--branca);
  font-size: 17px;
  font-weight: 400px;
  transition: 0.5s;
}
.nav__link:hover {
  color: var(--cor-branca-pastel);
}
.login__button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--cor-verde);
}

.login__button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}
.mobile-menu-icon {
  display: none;
}
.mobile__menu {
  display: none;
}
@media (max-width: 730px) {
  header {
    width: 500px;
    left: 85px;
  }

  .nav__item {
    display: none;
  }

  .mobile__menu {
    padding-top: 1rem;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile__menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-bottom: 10px;
  }
  .mobile__menu .nav__item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}
@media (max-width: 500px) {
  header {
    width: 240px;
  }
}
