.projetos {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 840px;
  height: auto;
   box-shadow: 0px 5px 0px rgba(255, 255, 255, 0.412);
}

@media (max-width: 768px) {
  .projetos {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .projetos {
    width: 240px;
  }
}
