.sobreMim {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 840px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 0px rgba(255, 255, 255, 0.412);
}
@media (max-width: 768px) {
  s .sobreMim {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .sobreMim {
    width: 240px;
  }
}
