.projeto__imagem{
    height: 150px;
    width: 250px;
    border-radius: 5px;
   
}
.projeto__imagem:hover{
 
    cursor: pointer

}


@media(max-width:768px){

    .projeto__imagem{
        width: 200px;
        height: 150px;
    }
}