.projeto__imagem{
    height: 150px;
    width: 250px;
    border-radius: 5px;
   
}
.projeto__imagem:hover{
    border: 4px solid #2F4F4F;
    cursor: pointer

}

@media(max-width:768px){

    .projeto__imagem{
        width: 300px;
    }
}