.projetos__titulo {
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: var(--cor-destaque);
}
@media (max-width: 768px) {
  .projetos__titulo {
    text-align: center;
  }
}
