.projeto__imagem{
    height: 150px;
    width: 250px;
    border-radius: 5px;
   
}
.projeto__imagem:hover{
    width: 180px;
    border: solid black 2px;
    transform: rotate(350deg);
    cursor: pointer

}


@media(max-width:768px){

    .projeto__imagem{
        width: 200px;
        height: 150px;
    }
}