.codigo {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: var(--cor-grey);
  padding: 5px 5px;
  transition: 0.2s;
}
.codigo a {
  align-items: center;
  text-decoration: italic;
  background-color: var(--cor-grey);
  color: var(--cor-destaque);
  transition: 0.1s;
}
.codigo a:hover,
.codigo:hover {
  background-color: var(--cor-branca-pastel);
}
