.certificados__descricao {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
@media (max-width: 1366px) {
  .certificados__descricao {
    font-size: 17px;
  }
}
