.contato__titulo {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 25px;
  margin-bottom: 30px;
}
@media (max-width: 1366px) {
  .contato__titulo {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .contato__titulo {
    text-align: center;
    font-size: 17px;
  }
}
