.form {
  margin-left: 0;
}
.contato_caixa #email {
  border: none;
  border-radius: 5px;
  background: #e0dddd;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 15px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  transition: 0.5s;
}
.contato_caixa #nome {
  border: none;
  border-radius: 5px;
  background: #e0dddd;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 15px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  transition: 0.5s;
}

.contato_caixa #subject {
  border: none;
  border-radius: 5px;
  background: #e0dddd;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 15px;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  transition: 0.5s;
}

.contato-caixa__mensagem {
  border: none;
  border-radius: 5px;
  background: #e0dddd;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 15px;
  height: 150px;
  width: 100%;
  transition: 0.5s;
}
.contato-caixa__mensagem:focus {
  border: 2px solid #2f4f4f;
}
.contato_caixa #subject:focus {
  border: 2px solid #2f4f4f;
}
.contato_caixa #nome:focus {
  border: 2px solid #2f4f4f;
}
.contato_caixa #email:focus {
  border: 2px solid #2f4f4f;
}
.success {
  color: #2f4f4f;
  text-align: center;
}
.error {
  color: tomato;
  text-align: center;
}
