.educacao__titulo {
  color: var(--color-1);
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 50px;
}
@media (max-width: 1366px) {
  .educacao__titulo {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .educacao__titulo {
    text-align: center;
  }
}
