.rede-social__titulo {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
}
@media (max-width: 1366px) {
  .rede-social__titulo {
    text-align: center;
    font-size: 17px;
  }
}
