.rede-social__row-segundo{
    display: flex;
    flex-direction: row;
    align-items: center;
   
   
}

@media (max-width: 500px)  {
    .rede-social__row-segundo{
      flex-direction: column;
      align-items: center;


}

}
 