.rede-social__descricao {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 10px;
  color: black;
}
@media (max-width: 1366px) {
  .rede-social__descricao {
    font-size: 13px;
    text-align: center;
  }
}
