.banner__nome {
  color: #f9f9f9;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 35px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .banner__nome {
    font-size: 30px;
  }
}
