.banner__nome {
  color: var(--color-7);
  text-align: center;
  text-shadow: 2px 2px 2px var(--color-7);
  font-size: 70px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1366px) {
  .banner__nome {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .banner__nome {
    text-shadow: none;
    font-size: 30px;
  }
}
