.banner__descricao {
  color: whitesmoke;
  font-weight: 100;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px whitesmoke;
  text-align: center;
}
@media (max-width: 768px) {
  .banner__descricao {
    font-size: 16px;
  }
}
