.banner__descricao {
  color: var(--color-7);
  font-weight: 100;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px var(--color-7);
  text-align: center;
}
@media (max-width: 1366px) {
  .banner__descricao {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .banner__descricao {
    font-size: 17px;
  }
}
