.banner__nome {
  color:  var(--cor-destaque);
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .banner__nome {
    font-size: 30px;
  }
}
