.banner__nome {
  color: var(--color-7);
  text-align: center;
  text-shadow: 2px 2px 2px var(--color-7);
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .banner__nome {
    font-size: 30px;
  }
}
