.banner__descricao {
  margin-bottom: 20px;
  color: #f9f9f9;
  font-weight: 100;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  .banner__descricao {
    font-size: 15px;
  }
}
